# ==============================================================================
# CONFIGURACIÓN DEL SERVIDOR DE BASE DE DATOS - LAPTOP 4
# Sistema de Gestión para Consultorio Odontológico - ULEAM 2026
# ==============================================================================

# Parámetros del contenedor PostgreSQL
POSTGRES_DB=clinica_odontologica
POSTGRES_USER=clinica_admin
POSTGRES_PASSWORD=ClinicaPassSecure2026!
POSTGRES_PORT=5432

# Zona horaria (Ecuador Continental - UTC-5)
TZ=America/Guayaquil

# Configuración de Red Local (Switch)
# IP asignada para este nodo (Laptop 4):
DB_NODE_IP=192.168.1.40
# IP autorizada del Backend (Laptop 3):
BACKEND_NODE_IP=192.168.1.30
